<!DOCTYPE html>
<html>
<head>
    <title>首頁</title>
     
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
   
</head>
<body>
    <header>
        <div class="logo">
            Your Logo
        </div>
        <div class="nav">
            <a href="/login">登入</a>
            <a href="/register">註冊</a>
        </div>
    </header>

    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is a simple homepage.</p>
        <img src="{{ url_for('static', filename='img/1.png')}}">
    </div>

    <footer>
        &copy; 2023 Your Company. All rights reserved.
    </footer>
</body>
</html>
