<!DOCTYPE html>
<html>

<head>
    <title>首頁</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
     
</head>

<body>
    {% include "base.html" %}

    <div class="container">
        {% if user_id %}
        <h1>Welcome {{user_id}} to My Website</h1>
        {% else %}
        <h1>Welcome to My Website</h1>
        {% endif %}
    </div>

        
    

    <footer>
        &copy; 2023 Your Company. All rights reserved.
    </footer>
</body>

</html>